<link rel="stylesheet" type="text/css" href="/librarydata/styles/bootstrap4/bootstrap.min.css">
<link href="/librarydata/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/librarydata/styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="/librarydata/styles/courses_responsive.css">

<script src="/librarydata/js/jquery-3.2.1.min.js"></script>
<script src="/librarydata/styles/bootstrap4/popper.js"></script>
<script src="/librarydata/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/librarydata/plugins/greensock/TweenMax.min.js"></script>
<script src="/librarydata/plugins/greensock/TimelineMax.min.js"></script>
<script src="/librarydata/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/librarydata/plugins/greensock/animation.gsap.min.js"></script>
<script src="/librarydata/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/librarydata/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="/librarydata/plugins/easing/easing.js"></script>
<script src="/librarydata/js/courses_custom.js"></script>
<script src="/librarydata/scripts/general/UpdateModule.js"></script>
<style type="text/css">
body 
{
   
color: #fff;

}
.form-control 
{
        min-height: 41px;
background: #fff;
box-shadow: none !important;
border-color: #e3e3e3;
}
.form-control:focus 
{
border-color: #70c5c0;
}
    .form-control, .btn 
{        
        border-radius: 2px;
    }
.login-form 
{
width: 350px;
margin: 0 auto;
padding: 100px 0 30px;	
}
.login-form form 
{

color: #7a7a7a;
border-radius: 2px;
    margin-bottom: 15px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;	
        position: relative;	
    }
.login-form h2 
{
 border:2px;
font-size: 22px;
        margin: 35px 0 25px;
    }
.login-form .avatar 
  {
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
top: -50px;
width: 95px;
height: 95px;
border-radius: 50%;
z-index: 9;
background: white;
padding: 15px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
       }
img
{
border-radius:50%;
    }
.login-form .avatar img 
{
width: 100%;
}	
    .login-form input[type="checkbox"] 
{
        margin-top: 2px;
    }
    .login-form .btn 
{        
        font-size: 16px;
        font-weight: bold;
background: #70c5c0;
border: none;
margin-bottom: 20px;
    }
.login-form .btn:hover, .login-form .btn:focus 
{
background: #50b8b3;
        outline: none !important;
}    
.login-form a 
{
color: #fff;
text-decoration: underline;
}
.login-form a:hover 
{
text-decoration: none;
}
.login-form form a 
{
color: #7a7a7a;
text-decoration: none;
}
.login-form form a:hover 
{
text-decoration: underline;
}
.panel-body{
padding-top:15%;
}
</style>     

<div class="panel panel-success" id="regid"
data-ng-controller="RegController">
<div class="panel-heading" id="panelHead">
<label id="panelHeader">Login</label>
</div>
<div class="panel-body" style="margin-left: 37%; margin-right: 37%">
<form id="loginForm">          
<div>
<img class="profile-img" src="/librarydata/images/clogo.png" alt="No image" id="loginImg" align="middle">
<div class="form-group row input-group loginCredentialsDiv">
<span class="input-group-addon"><li
class="glyphicon glyphicon-user"></li></span><input type="text"
class="form-control" id="email" placeholder="Enter email"
data-ng-model="data.object.email">
</div>  
<div class="form-group row input-group loginCredentialsDiv">
<span class="input-group-addon">
<li class="glyphicon glyphicon-lock"></li></span><input type="password"
class="form-control" placeholder="Enter password" id="passwordId"
data-ng-model="data.object.password">
</div>
<button type="button" class="btn btn-success" id="loginBtn"
data-ng-click="changeData(data.object);">submit</button>
<a class="cursor-pointer" data-toggle="modal" data-target="#myModal"
style="margin-left: 10%;">Forgot password</a>
<div id="errorDiv">
<div class="alert alert-danger"><center style="font-size: medium;">
<strong>Error: </strong>Invalid credentials</center>
</div>
</div>
</div>
</form>
</div>
<br/>

           
</div>
<br>
 <script type="text/javascript">
jQuery(document).ready(function() {
	$("#errorDiv").hide();
angular.bootstrap(jQuery("#regid"), [ 'UpdateModule' ]);
});
</script>
